/* Write your global styles here, in PostCSS syntax */

@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
}

body {
  margin: 0;
  background-color: theme("colors.gray.100");
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
      /* ... */
  }
  a:hover {
      /* ... */
  }
  button {
      /* ... */
  }
}

@tailwind components;

@tailwind utilities;
